<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Rest Assured Framework">
    <test name="Rest Assured Framework" group-by-instances="true">
        <classes>
            <class name="BaseCode.BaseCode">
                <methods>
                    <include name="Get_ListUsers"/>
                    <include name="Get_SingleUser"/>
                    <include name="POST_Create_User"/>
                    <include name="PUT_Update_User"/>
                    <include name="Delete_Single_User"/>


                </methods>
            </class>
        </classes>
    </test>
</suite>

